<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @system.name %>
</p>

<p>
  <strong>Economy:</strong>
  <%= @system.economy %>
</p>

<p>
  <strong>Government:</strong>
  <%= @system.government %>
</p>

<p>
  <strong>Allegiance:</strong>
  <%= @system.allegiance %>
</p>

<p>
  <strong>Blackmarket:</strong>
  <%= @system.blackmarket %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @system.notes %>
</p>

<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
